/*External Stylesheet for homteq*/
/*Importing Google Fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
body {
  background-image: url("background_img.png");
}
#container {
  margin: 0 auto;
  width: 80%;
  background: #f8f8f8;
  font-family: Montserrat;
  border-style: None;
  border-color: #f8f8f8;
}
#header {
  background: #f8f8f8;
  padding: 10px 30px;
}
#header h1 {
  margin: 0;
  background: #3d5c5c;
  color: #ffffff;
  font-family: Fjalla One;
  font-size: 50;
  text-align: left;
  width: 170;
  height: 50;
  padding: 10px;
}

#header h2 {
  margin: 0;
  color: #3d5c5c;
  font-size: 15;
  text-align: left;
}
#header h3 {
  margin: 0;
  color: #4a8d19;
  font-size: 14;
  text-align: right;
}
#navigation {
  float: left;
  width: 100%;
  background: #4d4d4d;
}
#navigation ul {
  margin: 0;
  padding: 0;
}
#navigation ul li {
  list-style-type: none;
  display: inline;
}
#navigation li a {
  display: block;
  float: left;
  padding: 5px 25px;
  color: #fff;
  text-decoration: none;
  border-right: 0px solid#fff;
}
#navigation li a:hover {
  background: #2874a6;
  color: #fff;
}
#content {
  clear: left;
  padding: 20px;
}
#content h4 {
  color: #8d194a;
  font-size: 24;
  margin: 0 0 0.5em;
}
#content h5 {
  color: #194a8d;
  font-size: 18;
  margin: 0 0 0.5em;
}

#footer {
  background: #4d4d4d;
  text-align: center;
  padding: 5px;
  color: #fff;
}
table,
th,
td {
  border-collapse: collapse;
  border: 2px solid #4a8d19;
}
th {
  padding: 10px;
}
td {
  padding: 10px;
  text-align: left;
  color: #000000;
}

.noBorder {
  border: none;
}
